font-family: 'Fira Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;

*{
    box-sizing: border-box;
}
/* .header p{
    font-size: 15px;  
    margin-top:35px; 
    color:black;
}
.header{
    display:flex;

}
.navbar{
    margin-left:900px;
    position:absolute;
    top:20px;
}
.navbar ul{
    display:flex;
    list-style: none;
    text-decoration: none;
}
.navbar a{
    text-decoration: none;
    color:black;
    align-content: space-between;  
}
.navbar li{
    padding:15px;
} */
.page-title{
    display:flex;
    
  }
/* 
  .search-bar{
    text-align: center;
    margin-left:30px;
  
  }
  .search{
    width:500px;
    padding: 15px;
    margin:10px;
    border-radius: 30px;
  }
  .navbar-1{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .navbar ul{
    display:flex;
    list-style: none;
    text-decoration: none;
  }
  header{
    display:flex;
    align-items: center;
    justify-content: center;
    /* position:relative;
    bottom:800px; */
  /* } */
  /* .header{
    display:flex;
    align-items: center;
  }
  .header h3{
    color:white;
    width: 80%;
  }
  .icon{
    position:relative;
    right:70px;
    top:7px;
  }
  .navbar{
   
    text-decoration: none;
    max-width:630px;
    margin-top: 30px;
  }
  .navbar a{
    text-decoration: none;
    color:white;
    align-content: space-between;
  }
  .navbar li{
    padding:10px;
  }
  
  .dropbtn {
    background-color:transparent;
    color: white;
    padding: 5px;
    font-size: 15px;
    font-weight:bold;
    border: none;
    position:relative;
    bottom:18px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
    */
.head-part{
    font-size:3pc;
    align-content: center;
    margin-top:50px;
    margin-left:50px;
}
.head-part p{
    
    font-family: 'Roboto', sans-serif;
    color:rgb(13, 13, 122);
    position:relative;
    bottom:60px;
}
.head-part h2{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color:rgb(13, 13, 122);
    position:relative;
    top:30px;
}
.head-part h1{
    color:rgb(11, 163, 163);
}
.sec-1{
    background-image: url(../../assets/images/pexels-photo.jpeg);
    background-repeat:no-repeat ;
    height:500px;  
    margin-bottom: ;

}
.sec-2{
    margin-top:100px;
    color:rgb(23, 148, 148);
    font-size:20px;
    display:flex;
    background-color: aliceblue;
    padding:0px 100px;
    font-family: 'Roboto Slab', serif;

}
.section-2 h1{
    color:rgb(26, 26, 196)
}
.sec-2 img{
    margin-left:100px;
}
.section-2{
    max-width: 800px;
    padding-top:50px;
}
