*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
video{
  filter: brightness(0.5);
  position:absolute;
  height:100%;
  top:0px;
  z-index: -1;
}
#profile{
  width:126px;
  height:70px;
  margin-top: -15px;
}
.page-title{
  display:flex;
}
.search-bar{
  text-align: center;
  margin-left:30px;
}
#search{
  width:500px;
  padding: 15px;
  margin:10px;
  border-radius: 30px;
}
#search-icon{
  padding: 10px 20px; 
  margin-right: 5px;
  position: relative;
  right: 150px;
  background-color: transparent;
  border-color: transparent;
}
.navbar-1{
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.navbar ul{
  display:flex;
  list-style: none;
  text-decoration: none;
}
header{
  display:flex;
  align-items: center;
  justify-content: center;
}
.header{
  display:flex;
  align-items: center;
}
.header h3{
  color:white;
  width: 80%;
}
.icon{
  position:relative;
  right:70px;
  top:7px;
}
.nav a{
  color:white;
}
.navbar{
  text-decoration: none;
  max-width:630px;
  margin-top: 30px;
}
.navbar a{
  text-decoration: none;
  align-content: space-between;
}
.navbar li{
  padding:10px;
}
.navbar li a{
  color: white;
}
p.dropdown{
  color: black;
}
.dropbtn {
  background-color:transparent;
  color: white;
  padding: 5px;
  font-size: 15px;
  font-weight:bold;
  border: none;
  position:relative;
  bottom:18px;
  font-family: Arial, Helvetica, sans-serif;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#cate_list li a {
  color: black;
}
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

#cate_list{
  display:flex;
  flex-direction: column;
}
.content{
  position:relative;
  top:50px;
  text-align: center;
}
.content h1{
  font-family: 'Roboto', sans-serif;
  color:rgb(220, 220, 220);
  font-size: 6pc;
  transition:0.5s ;
}
.content h1:hover{
  -webkit-text-stroke: 2px #fff;
  color:transparent;
}
.content p{
    font-family: 'Roboto Slab', serif;
    color:rgb(219, 219, 219);
    font-size: 30px;

}
.content button{
  padding: 20px 30px;
  margin-top:20px;
  font-family:'Roboto', sans-serif ;
  font-size: 20px;
  background-color: rgb(255, 233, 206);
  font-weight:700;
  
}
.btn i{
  position:relative;
  left:10px;
  top:2px;
}
#section-flex{
  padding-top:50px;
  padding-bottom:50px;
  margin-top: 250px;
  /* position: absolute;
  top: 800px; */
}
.short-para {
  text-align: center; 
  font-size: larger;
  font-weight: 800;
  color:#a83264;
}
.popular_place{
  text-align: center;
  font-family:'Roboto', sans-serif;
  font-size: 40px;
  color:rgb(240, 55, 55);
  padding-top:20px;
}
.flex-img{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
  filter:brightness(0.8);
}
.flex{
  display:flex;
  margin:20px 70px;
  margin-bottom: 50px;
}
.cta{
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
 }
.cta a{
  text-decoration: none;
 }
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: white;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color:rgb(54, 45, 113);
  text-decoration: none;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke:rgb(54, 45, 113);
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.border-box{
 
  text-align: center;
  padding-bottom:30px;
  margin:20px;
  border-radius:5px;  
  box-shadow:0 0 30px 0px rgba(1, 1, 1, 0.1);
}
.border-box p{
  font-family: 'Roboto Slab', serif; 
  text-align: center;
  max-width: 400px;
}
.border-box h2{
  font-family:'Roboto', sans-serif ;
  color:rgb(54, 45, 113);
  text-align:center;
}
.flex-3 h1{
  text-align: center;
  margin-left: 100px;
  font-family:'Lato', sans-serif;
  font-size:40px;
  color:rgb(90, 83, 83);
}
.images{
  margin:30px;
  margin-bottom:-20px;
  
}
.images:hover{
  box-shadow:5px 5px 5px grey;
  transform:scale(1.1);
  transition:0.5s;
}
.images-1{
  position:relative;
  bottom:20px;
  left: 30px;
}
.images-1:hover{
  box-shadow:5px 5px 5px grey;
  transform:scale(1.1);
  transition:0.5s;
}
.flex-img h2{
  display:flex;
  flex-direction: row;
  position:relative;
  bottom:250px;
  left:60px;
  color:white;
  font-family: 'Roboto Slab', serif; 
  font-size: 40px;
}
.new-img a{
  text-decoration: none;
}
.new-img-1 a{
  text-decoration: none;
}

.new-img > .images>img:hover{
transform: scale(7);
}
.section-2{
  left: 230px; 
  justify-content: center;
  align-content: center;
}
.section-2  h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color:rgb(240, 55, 55);
  font-size: 30px;
}
.section-flex-2 h1{
  text-align: center;
  font-family:'Roboto', sans-serif;
  font-size: 40px;
  color:rgb(240, 55, 55);
  padding-top:20px;
}
.flex-2{
  display:flex;
  margin:20px;
  justify-content: center;
}
.border-box-2{
  border-style:solid;
  max-width: 300px;
  text-align: center;
  box-shadow:0 0 30px 0px rgba(1, 1, 1, 0.1);
  padding:30px 10px;
  margin:20px;
  border-width: 10px;
  border-color:palegoldenrod;
  border-radius:px;
}
.border-box-2:hover{
  transform: translateY(-20px);
  transition: 0.5s;
 
}
.border-box-2 p{
  font-family: 'Roboto Slab', serif; 
}
.border-box-2 h2{
 
  border-bottom:2px solid palegoldenrod;

}
.lower-img{
  border-radius: 100px;
}
.border-box-2:hover{
 
  box-shadow: 10px;
}
.footer{
  margin-top:60px;
  display: flex;
  border-style: solid;
  justify-content: space-around;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:white;
  background-color: rgb(60, 60, 107);
}
.flex-footer{
  display:flex;
}
.flex-footer img{
    margin-top:10px;
}
.flex-footer h4{
  margin-top:35px;
}
.footer_2 li{
  padding:10px;
  color:white;
}
.footer_2 a{
  text-decoration: none;
}
.input{
  width:400px;
  height:50px;
}
.btn-1{
  position:relative;
  right:90px;
  padding:10px 20px;
  color: antiquewhite;
  background-color: rgb(133, 91, 173);
  border-color: rgb(133, 91, 173);
}
